In [27]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_percentage_error as mape
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_excel('knn.xlsx') #Read excel from sheet 0 and save it as dataframe
test = pd.read_excel('knn.xlsx',1) #Read excel from sheet 1 and save it as dataframe

[A] Pseudo Code
Take first test row
Calculate the Euclidean distance from all the training points
Sort the df on basis of distance
Use k = 3 as neighbors
calculate the average of the values for prediction

[B] Read the train data

In [3]:
train.head(3)

         X1        X2        X3         y
0 -0.059533  0.763686  0.317046 -0.070229
1  1.916473 -0.378508 -0.411538  1.887648
2 -0.237390 -0.244097 -1.053888 -0.316625

[C] Read the test data

In [4]:
test.head(1)

         X1        X2        X3         y
0  0.295855  0.145806  1.381112  0.408699

[D] First row of train

In [9]:
train.iloc[0:1,0:-1]

         X1        X2        X3
0 -0.059533  0.763686  0.317046

[E]Calculate the distance

In [10]:
a = []
for i in range(train.shape[0]):
    a.append(np.sqrt((train.iloc[i,0] - test.iloc[0,0])**2 + (train.iloc[i,1] - test.iloc[0,1])**2 + (train.iloc[i,2] - test.iloc[0,2])**2))

In [15]:
train.iloc[i,0],test.iloc[0,0],train.iloc[i,1],test.iloc[0,1]

(0.2181999382603222, 0.295855329600494, -1.420518819901921, 0.1458057904030124)

[F] Assign Distance to DataFrame

In [17]:
train['Distance'] = a

In [19]:
train.head(3)

         X1        X2        X3         y  Distance
0 -0.059533  0.763686  0.317046 -0.070229  1.280747
1  1.916473 -0.378508 -0.411538  1.887648  2.472832
2 -0.237390 -0.244097 -1.053888 -0.316625  2.523014

[G] Sort Data Frame according to distance.

In [20]:
train.sort_values(by='Distance',ascending = False,inplace = True)

In [21]:
train.head(3)

           X1        X2        X3         y  Distance
405 -0.669045 -0.683216 -3.246964 -0.917070  4.799728
330 -0.833632 -2.825045 -2.018151 -0.862319  4.653674
11  -1.162052  0.055817 -2.825190 -1.407580  4.452703

[H] Calculate the prediction for k=3 nearest neighbors

In [22]:
pred_y = (train.iloc[0,3]+train.iloc[1,3]+train.iloc[2,3])/3

In [23]:
pred_y

-1.0623228694604894

## Define a Function to calculate for all test row

In [24]:
prediction = []
for j in range(test.shape[0]):
    Distances = []
    for i in range(train.shape[0]):
        distance=np.sqrt((train.iloc[i,0] - test.iloc[j,0])**2 + (train.iloc[i,1] - test.iloc[j,1])**2 + (train.iloc[i,2] - test.iloc[j,2])**2)
        Distances.append(distance)
    train['Distance'] = Distances
    sorted_result=train.sort_values(by="Distance")
    predicted_value = sorted_result.iloc[0:3,-2].mean()
    prediction.append(predicted_value)
np.mean(np.abs((test['y'] - prediction)/test['y']))

0.4335604638213743

## Calculate the MAPE from sickit learn

In [30]:
model=KNeighborsRegressor(n_neighbors=3)
model.fit(train[["X1","X2","X3"]],train["y"])
y_pre=model.predict(test[["X1","X2","X3"]])
mape(test['y'], y_pre)

0.4335604638213743